body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color:#fff;
}

#middle {
    display: flex;
    flex: 1;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
}

#main {
    padding: 20px;
    margin-top: 200px;
}

#main > middle {
    flex: 1;
}

header {
    height: 10vh;
    padding: 1em;
    align-items: flex-end;
}

a:link, a:visited {
    float: right;
    padding-right: 15px;
    vertical-align: middle;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}


.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    float: none;
}

form {
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 44px;
    position: relative;
    background: #fff;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(255, 255, 255);
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px; 
}

input[type=submit] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

img {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#adv-bar {
    padding: 0;
    margin: 0;
    color: #d93025;
    font-family: arial,sans-serif;
    font-size: 20px;
    max-height: 100px;
    margin-left: 40px;
    ;
}

#line {
    padding-top: 25px;
    border-bottom: 1px solid #ebebeb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
}

.outside {
    width: 100%;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial, sans-serif;
}

.lead-in {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

span {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.first-text {

}

.first-box {

}